<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time Sheet Management</title>
    <!-- <link rel="stylesheet" href="./css/index.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container{
            margin-top: 4%;
        }
        #text{
            margin-top: 4%;
        }
        label{
            font-size: 1.5vw;
        }
        input{
            margin-left: 20%;
            width: 30%;
        }
        
    </style>
</head>
<body>
    <h1 class="text-center display-4 text-dark" id="text">Edit Time Sheet </h1>
    <div style="margin-left: 30%;" class="container display-5">
        <div class="card-body">
            <form method="POST" action="/edit/<%= userData.id %>">
                <%const date = new Date(userData.date);%>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <!-- <label>User Name</label> -->
                            <input type="text" name="user_name" id="user_name" class="form-control" style="font-size: 1.2vw;" value="<%= userData.userName %>"  />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <!-- <label>Date of the task</label> -->
                            <input type="text" name="date_of_task" id="date_of_task" class="form-control" style="font-size: 1.2vw;" value=" <%= date.getFullYear()%>-<%=date.getMonth()%>-<%=date.getDate()%> " />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <!-- <label>How many hours</label> -->
                            <input type="number" name="no_of_hours" id="no_of_hours" class="form-control" style="font-size: 1.2vw;" value="<%= userData.no_of_hours %>" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <!-- <label>Task name</label> -->
                            <input type="text" name="task_name" id="task_name" class="form-control" style="font-size: 1.2vw;" value="<%= userData.task_name %>" />
                        </div>
                    </div>
                    
                <div class="mb-3">
                    <input type="submit" name="submit_button" class="btn btn-primary" style="margin-top: 5%;" value="Edit" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>