<!DOCTYPE html>
<html>
  
<head>
    <title>Table Creation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        
        .container{
            margin-top: 6%;
        }
        #heading {
            font-weight: 700;
        }
        #text{
            margin-top: 4%;
        }
    </style>
</head>
  
<body class="bg-light">
    
    <nav class="navbar navbar-light bg-dark">
        <div>
            <button class="btn border-light" type="button">
                <a href="/add" style="text-decoration: none; color: white;">Add</a>
            </button>
            <button class="btn border-light" type="button">
                <a href="/show" style="text-decoration: none; color: white;">Show</a>
            </button>
        </div>
    </nav>
    <h1 class="text-center display-4 text-dark" id="text">Time Sheet List</h1>
    <div class="container">
        <div class="row bg-dark text-white" id="heading">
            <div class="col-sm- border border-white">S.N</div>
            <div class="col-md border border-white">Username</div>
            <div class="col-md border border-white">Task name</div>
            <div class="col-md border border-white">Task date</div>
            <div class="col-md border border-white">How many hours ?</div>
            <div class="col-md border border-white">Edit</div>
            <div class="col-md border border-white">Delete</div>

        </div>
        <% if(userData.length!=0){ %>
            <% for (let data of userData) { %>
                <%const date = new Date(data.date);%>
                <% console.log(date)%>
                <div class="row bg-white text-dark">
                    <div class="col-sm- border border-light" style="padding: 9px;"><%=data.id%></div>
                    <div class="col-md border border-light"><%=data.userName%></div>
                    <div class="col-md border border-light"><%=data.task_name%></div>
                    <div class="col-md border border-light"><%= date.getFullYear()%> / <%=date.getMonth()%> / <%=date.getDate()%> </div>
                    <div class="col-md border border-light"><%=data.no_of_hours%></div>
                    <div class="col-md border border-light link-secondary"><a style="color: blue;" href="/edit/<%=data.id%>">Edit</a></div>
                    <div class="col-md border border-light link-danger"><a style="color: red;" href="/delete/<%=data.id%>">Delete</a></div>
                </div>
                <% }%>
        <% } else{ %>
                <div>No Data Found</div>
        <% } %> 

    </div>
</body>
  
</html>